@charset "utf-8";
body {
  background-color: #f4f7f6;
    font-family: "open sans", sans-serif;
    font-size: large;
    color: black;
}
table {
  width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 400px;
}
footer {
    background-color: #87ff9e;
    color: black;
    border-top: solid black 1px;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 20px;
}
#email::after {
    content: '\2709';

}
#number::after {
    content: '\260f';
}
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 1px solid #000000;
}
#floating-login {
    float: right;
    margin-right: 30px;
    border-style: solid;
    padding: 10px;
}
ul {
    list-style: square;
    list-style-position: inside;
    margin-bottom: 150px
}
li {
    padding-top: 20px;
}
a {
    text-decoration: none;
    color: rgb(207, 0, 0);
}
img {
    display: block;
    margin-left: 15%;
    margin-right: auto;
    padding-top: 20px;
}
nav {
    display: inline;
    text-align: right;
    margin-right: 25px;
    padding: 40px 50px;
    padding-bottom: 10px;
}
nav a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  margin-right: 25px;
  padding-bottom: 10px;
}
.logo{
 margin-left: 0;
    width: 150px;
    height: auto;
}
form{
  margin-top: 50px;
  text-align: center;
}
form li{
  list-style-type: none;
}
input[type=text], input[type=password] {
  width: 200px;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.registerButton {
  background-color: #87ff9e;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 200px;
  opacity: 0.9;
}
.registerButton:hover {
  opacity:1;
}
tr:nth-child(odd) {
    background-color: white;
}
tr:nth-child(even) {
    background-color: lightgrey;
}
th {
    background-color: black;
    color: white;
}
td {
    padding-left: 10px;
    padding-right: 10px;
}
table tr:hover {
    background-color: #87ff9e;
    border: 1px solid black;
}
.evals {
    color: red;
}
